Hello {{ user.get_full_name|default:user.username }},

We received a request to reset the password for your HALCON CAREER candidate account.

To choose a new password, please visit the following link:
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If you did not request this change, please ignore this message. Your password will remain unchanged.

Sincerely,
HALCON CAREER Recruitment Consultancy
SCO 12–13, 2nd Floor, Phase 11, Mohali, Punjab – 160065
Phone: {{ COMPANY_PHONE_PRIMARY }} / {{ COMPANY_PHONE_SECONDARY }}

